<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

 <body>
  <div align="center" style="padding-top:20px;">
  <div class="container">

    <img src={{picture}} />

    <h1>{{twitter_handle}}</h1>
   {% for tweet in result %}
   <div class="panel panel-default">
    <div class="panel-body">
      {{ tweet }}
    </div>
  </div>
   {% endfor %}

   <h3>{{ twitterHandle }}</h3>
   <br />
   <form action="{{ url_for('index') }}">
    <input type="submit" value="Create more tweets!" />
   </form>
  </div>
</div>
 </body>
</html>
